.deviceCard {
    width: 50%;
    height:90%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color:gray;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.deviceCard img {
    scale: 0.5;
    width: 100%;
    height: 50%;
    z-index: auto;
}


.deviceCardText {
    color: white;
    font-size: 1vw;
    margin-top: 0;
}

.deviceCard div{
    text-align: center;
}

.armingTextArmed {
    font-size: 1vw;
    color: red;
}

.armingTextArmed span {
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}

.armingTextDisarmed {

    font-size: 1vw;
    color: green;
}

.armingTextDisarmed span {
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}

.deleteDeviceButton {
    background-color: white;
    color:red;
}

.deleteDeviceButton:hover {
    background-color: red;
    transition: background-color 0.5s, color 0.5s;
    color: white;
}